<div>
  <button (click)="currentView = 'summary'">Summary View</button>
  <button (click)="currentView = 'detailed'">Detailed View</button>
</div>

<!-- Summary View -->
<div *ngIf="currentView === 'summary'">
  <table border="1">
    <thead>
      <tr>
        <th>Sampling Time</th>
        <th *ngFor="let header of allLabels">{{ header }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data?.Datas">
        <td>{{ item.SamplingTime | date: 'dd-MM-yyyy hh:mm:ss a' }}</td>
        <td *ngFor="let header of allLabels">
          {{ getPropertyValue(item, header) }}
        </td>
      </tr>
    </tbody>
  </table>
</div>


<ng-container *ngIf="currentView === 'detailed'">
  <div class="container">
    <div class="sidebar">
      <ng-container *ngFor="let item of data?.Datas; let i = index">
        <div (click)="selectedData(item, i)" [ngClass]="{ 'date': selectedIndex === i, 'selected': selectedIndex === i }">
          {{ item.SamplingTime | date: 'dd-MM-yyyy hh:mm:ss a' }}
        </div>
      </ng-container>
      <!-- <div class="date">22-04-2021 11:00:05 AM</div>
      <div class="date">23-04-2021 11:00:05 AM</div> -->
    </div>
    <div class="form-section">
      <div class="form-group">
        <label>Project Name:</label>
        {{selectedProjectData|json}}
        <input type="text" [(ngModel)]="selectedProjectData" />
      </div>
      <div class="form-group">
        <label>Construction Count:</label>
        <input type="number" value="2" />
      </div>
      <div class="form-group">
        <label>Is Contruction Completed:</label>
        <input type="checkbox" [(ngModel)]="selectedProjectData" />
      </div>
      <div class="form-group">
        <label>Length of the road:</label>
        <div class="number-field">
          <input type="number" step="0.1" value="5.6" />
          <span>KM</span>
        </div>
      </div>
      <div class="save-button">
        <button>Save</button>
      </div>
    </div>
  </div>
  <button (click)="saveData()">Save</button>
</ng-container>