<div>
  <button (click)="currentView = 'summary'">Summary View</button>
  <button (click)="currentView = 'detailed'">Detailed View</button>
</div>

<!-- Summary View -->
<div *ngIf="currentView === 'summary'">
  <table border="1">
    <thead>
      <tr>
        <th>Sampling Time</th>
        <th *ngFor="let header of allLabels">{{ header }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of selectedProperties">
        <td>{{ item.SamplingTime | date: 'dd-MM-yyyy hh:mm:ss a' }}</td>
        <td>
          {{item['Project Name']}}
        </td>
        <td>
          {{item['Construction Count']}}
        </td>
        <td>
          {{item['Is Construction Completed']}}
        </td>
        <td>
          {{item['Length of the road']}}
        </td>
      </tr>
    </tbody>
  </table>
</div>


<ng-container *ngIf="currentView === 'detailed'">
  <div class="container">
    <div class="sidebar">
      <ng-container *ngFor="let item of selectedProperties; let i = index">
        <div (click)="selectedData(item, i)" style="cursor: pointer;"
          [ngClass]="{ 'date': selectedIndex === i, 'selected': selectedIndex === i }">
          {{ item.SamplingTime | date: 'dd-MM-yyyy hh:mm:ss a' }}
        </div>
      </ng-container>
    </div>
    <ng-container *ngFor="let item of selectedProperties; let i = index">
      <div *ngIf="selectedIndex === i" class="form-section">
        <div class="form-group">
          <label>Project Name</label>
          <input type="text" [(ngModel)]="item['Project Name']" />
        </div>
        <div class="form-group">
          <label>Construction Count</label>
          <input type="number" [(ngModel)]="item['Construction Count']" />
        </div>
        <div class="form-group">
          <label>Is Construction Completed</label>
          <input type="checkbox" [(ngModel)]="item['Is Construction Completed']" />
        </div>
        <div class="form-group">
          <label>Length of the road</label>
          <div class="number-field">
        <input type="number" [(ngModel)]="item['Length of the road']" />
        <span>KM</span>
          </div>
        </div>
        <div class="save-button">
          <button (click)="saveData()">Save</button>
        </div>
      </div>
    </ng-container>

  </div>
</ng-container>